name: CI - FastAPI Tests

on:
    push:
        branches:
            - feature/*
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest

        services:
            mysql:
                image: heung115/custom-mysql:latest
                ports:
                    - 3306:3306
                options: >-
                    --health-cmd="mysqladmin ping --silent"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=3

        steps:
            - uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.11"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install pytest

            - name: Wait for MySQL to be ready
              run: |
                  for i in {1..60}; do
                    if mysqladmin ping -h localhost -P 3306 --silent; then
                      echo "MySQL is up!"
                      break
                    fi
                    echo "Waiting for MySQL..."
                    sleep 2
                  done

            - name: Check MySQL logs
              run: docker logs $(docker ps -q --filter ancestor=mysql:8.0)

            - name: Run tests
              env:
                  DB_HOST: localhost
                  DB_PORT: 3306
                  DB_USER: root
                  DB_PASS: rootpassword
                  DB_NAME: planup
              run: |
                  TEST_MODE=true pytest
